/* GLOBAL RESET  
----------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a.current{
  color: #404BBF;
}

/* CONTAINER ---------------*/
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* SECTION 
--------------*/
.section {  
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  max-width: 1440px;
}

/* visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
   overflow: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap; /* запобігає переносу тексту */
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* HEADER  
------------*/
.site-header {             
  background-color: #ffffff; 
  border-bottom: 1px solid #e7e9fc ;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  gap: 50px;  
}

/* логотип */
.logo, .footer-logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

.logo{
   margin-right: 76px 
}

.logo span {
  color: #2e2f42;
}

/* меню навігації */
.menu-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;  
  display: block;
  position: relative;  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .nav-link:hover::after,
header .nav-link:focus::after,
.nav-link.current::after{
  width: 100%;
}

.nav-link::after{  
  content: "";
  position: absolute;
  left: 0;               
  bottom: -1px;         
  width: 0;                
  height: 4px;             
  border-radius: 2px;      
  background-color: #404BBF;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* контакти в header*/
.contacts {
  font-style: normal;
  margin-top: 8px;
  margin-bottom: 8px;
}

.contacts .contacts-list{
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  position: relative; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover::after,
.contacts-link:focus::after {
  width: 100%;
}

/* HERO ----------*/
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), /* градієнт */
    url(../images/people-office.jpg); /* зображення */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 188px 0;
}

.hero .container {  
  align-items: center;
}

/* заголовок */
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

/* кнопка */
.hero-btn {
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4D5AE5;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero-btn:hover,
.hero-btn:focus,
.social-link:hover,
.social-link:focus {
  background-color: #404BBF;
}

/*  SERVICES 
---------------*/
.services-list {
  display: flex;
  gap: 24px; 
  align-items: stretch;
  flex-wrap: wrap;
}

.service {
  width: calc((100% - 72px) / 4); /* 4 items, 3 gaps * 24px = 72px */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-icon{
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.service-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.service-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TEAM ------------*/
.team{
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.member {
   width: calc((100% - 72px) / 4); /* 4 items, 3 gaps * 24px = 72px */
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px; 
  box-sizing: border-box;
  box-shadow:
    0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16);
}

.member-info {
  display: grid;
  gap: 8px;
  padding: 32px 0;
}

.member-socials,
.socials-list {
  display: flex;
}

.member-socials{   
  justify-content: center;  
  gap: clamp(8px, 2vw, 24px);
  flex-wrap: wrap;
}

.social-link,
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.social-icon {
  fill: #f4f4fd ;
}

/* PORTFOLIO 
-------------*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 32px;
  justify-content: center;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
  cursor: pointer;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);     
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb img {
  display: block;
  width: 100%;
  height: auto;
}  

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

/* === FOOTER =============*/
.footer{
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0; 
  
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-brand {
  flex: 0 0 264px; 
  max-width: 264px;
  margin-right: 120px 
}

.footer-socials {
  flex: 1 1 0;
  min-width: 208px;
}  

.socials-list {
  justify-content: flex-start;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link .social-icon {  
  fill: #f4f4fd ;
}
.footer-logo{
  display: inline-block;
  margin-bottom: 16px; 
}

.logo-span {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
}

.socials-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

/*====FORMS FOOTER===========*/
.footer-subscribe {
  flex: 0 0 453px;     /* ширина  інпут 264 + gap 24 + кнопка ~165 */
  max-width: 453px;
}

.subscribe-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form { 
  display: flex; 
  gap: 24px; 
  align-items: center; 
}

.subscribe-label { 
  display: block; 
}

.subscribe-input {
  width: 264px;                 
  height: 40px;                 
  border: 1px solid #ffffff;    
  background-color: transparent;
  font-size: 12px;              
  line-height: 2;              
  letter-spacing: 0.04em;       
  padding-left: 16px;          
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  border-radius: 4px;          
  color: #ffffff;             
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder { 
  color: #ffffff;
}

.subscribe-input:focus { 
  border-color: #4d5ae5; 
}

.subscribe-btn {
  min-width: 165px;                 
  height: 40px;                    
  display: flex;                    
  justify-content: center;          
  align-items: center; 
  font-size: 16px;                 
  font-weight: 500;                 
  line-height: 1.5;                 
  letter-spacing: 0.04em;           
  color: #ffffff;                   
  cursor: pointer;                  
  background-color: #4D5AE5;       
  border: none;                    
  border-radius: 4px;               
  padding: 8px 24px;                
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus { 
  background-color: #404bbf; 
}

.subscribe-icon { 
  fill: #fff;
  margin-left: 16px;           
  display: inline-block; 
}

/* ==== MODAL & FORMS ============ */

/* backdrop */
.backdrop {
  position: fixed; 
  top: 0;         
  left: 0;        
  width: 100%;   
  height: 100%; 
  background: rgba(46,47,66,0.4);
  opacity: 0; 
  visibility: hidden; 
  pointer-events: none;  
  transition: opacity 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);

}

.backdrop.is-open { 
  opacity: 1; 
  visibility: visible; 
  pointer-events: auto; 
}

/* modal */
.modal {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  width: 408px; 
  min-height: 584px; 
  max-width: calc(100% - 32px);
  background: #fcfcfc; 
  border-radius: 4px; 
  box-shadow:
    0px 1px 1px rgba(0,0,0,0.14),
    0px 1px 3px rgba(0,0,0,0.12),
    0px 2px 1px rgba(0,0,0,0.2);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}

.backdrop.is-open .modal { 
  transform: translate(-50%, -50%) scale(1); 
}

.modal-close-btn {
  position: absolute; 
  top: 24px; 
  right: 24px;
  width: 24px;
  height: 24px; 
  border-radius: 50%;  
  border: 1px solid rgba(0,0,0,0.1);  
  background-color: #e7e9fc; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 0; 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: #404bbf; 
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon { 
  fill: #ffffff; 
}

.modal-close-icon { 
  fill: #2e2f42; 
  transition: fill 250ms cubic-bezier(0.4,0,0.2,1); 
}

.modal-title {
  font-weight: 500; 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #2e2f42; 
  text-align: center; 
  margin-bottom: 16px;
}

/* форма в модалці */
.modal-form { 
  display: block; 
}

.form-field { 
  margin-bottom: 8px; 
}

.field-comment{ 
  margin-bottom: 16px; 
}

.form-label {
  display: block;
  margin-bottom: 4px; 
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: #8e8f99; 
}

.input-wrapper { 
  position: relative;
}

.form-input {
  width: 100%; 
  height: 40px; 
  border-radius: 4px; 
  background: transparent;
  border: 1px solid rgba(46,47,66,0.4);
  padding-left: 38px;  
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  color: #2e2f42;
}

.form-icon {
  position: absolute; 
  left: 16px; top: 50%; 
  transform: translateY(-50%);
  fill: #2e2f42; 
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}

.form-input:focus { 
  border-color: #4d5ae5; 
}

.form-input:focus + .form-icon,
.input-wrapper:has(.form-input:focus) .form-icon { 
  fill: #4d5ae5; 
}

.form-textarea {
  width: 100%; 
  min-height: 120px; 
  resize: none;
  border-radius: 4px; 
  background: transparent; 
  border: 1px solid rgba(46,47,66,0.4);
  padding: 8px 16px; 
  outline: transparent;
  font-family: inherit;
  transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
  color: rgba(46,47,66,0.4); 
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em; 
}

.form-textarea:focus { 
  border-color: #4d5ae5; 
}

/* чекбокс */
.form-agreement { 
  margin-top: 8px; 
  margin-bottom: 24px; 
}

.agreement-label {
  display: inline-flex; 
  align-items: center; 
  gap: 8px; 
  user-select: none; 
  cursor: pointer;
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: #8e8f99;
}

.agreement-label > span.agreement-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex; /* <- ключова вимога */
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-check { 
  fill: transparent; 
  transition: fill 250ms cubic-bezier(0.4,0,0.2,1); 
}

.agreement-checkbox:checked + .agreement-label > .agreement-box {
  background-color: #404bbf; 
  border: none;
  fill: #F4F4FD;
}

.agreement-checkbox:checked + .agreement-label > .agreement-box .agreement-check  {
  fill: #f4f4fd;
}

.privacy-link { 
  color: #4d5ae5; 
  text-decoration: underline; 
}

/* кнопка відправки*/
.modal-submit {
  display: block; 
  margin: 0 auto;
  height: 56px;
  border-radius: 4px;
  min-width: 169px; 
  border: none;
  color: #fff;
  background-color: #4d5ae5; 
  font-weight: 500; 
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
  cursor: pointer;
}

.modal-submit:hover, .modal-submit:focus { 
  background-color: #404bbf; 
}

